@media screen and (min-width: 601px) {
    body {
        background-color: #f6f6f6;
        color: #333333;
        font-family: "Lato";
        padding: 0;
        margin: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
    #login {
        display: flex;
    }
    #login,
    #registro {
        align-items: center;
        justify-content: center;
        align-self: center;
        flex-direction: row;
        width: 70%;
        height: 30rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 23px;
    }

    #leftL {
        background-color: #ffe450;
        height: 100%;
        width: 50%;
        padding: 1rem;
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        border-radius: 20px 0 0 20px;
    }
    #criarContaDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    #rightL {
        background-color: #fff;
        height: 100%;
        width: 50%;
        border-radius: 0 20px 20px 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }


    #registro {
        display: none;
    }
    #registro h1 {
        font-size: 2rem;
    }

    #leftR {
        background-color: #ffe450;
        height: 100%;
        width: 30%;
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 20px 0 0 20px;
    }
    #leftR p {
        margin-bottom: -20px;
    }
    #rightR {
        background-color: #fff;
        height: 100%;
        width: 70%;
        border-radius: 0 20px 20px 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .fileUpload input[type="file"] {
        border-bottom: 3px solid #ffe450;
    }


    #login i {
        font-size: 2rem;
        color: #ffe450;
        cursor: pointer;
    }
    #login i:hover {
        color: #e3cd56;
    }
    #registro i {
        font-size: 2rem;
        color: #87ceeb;
        cursor: pointer;
    }
    #registro i:hover {
        color: #6cadc8;
    }

    .containerI {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    #login,
    #registro{
        display: none;
    }
    body{
        background-color: #ffe450;
        color: #333333;
        font-family: "Lato";
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    #cLogin{
        display: flex;
    }
    #cRegistro{
        display: none;
    }
    #cLogin, #cRegistro{
        background-color: #fff;
        border-radius: 30px;
        padding: 20px;
        width: 70%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    #cLogin i{
        font-size: 2rem;
        color: #87ceeb;
        cursor: pointer;
    }
    #cLogin i:hover{
        color: #6cadc8;
    }
    #cLogin p{
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }

    .troca{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 2rem;
    }
    .containerI {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    hr {
        border: none;
        height: 2px;
        background-color: #ffe450;
        z-index: 9;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

input {
    border: none;
    border-bottom: 3px solid #ffe450;
    margin-bottom: 40px;
    width: 90%;
    padding: 0 12px;
    outline: none;
    font-size: 1rem;
}
h1 {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
}
h2 {
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
}
button {
    height: 3rem;
    width: 80%;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    background-color: #87ceeb;
    transition: ease 0.2s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 1.4rem;
    font-weight: 500;
}
button:hover {
    background-color: #6cadc8;
}
p {
    font-weight: 300;
    font-size: 1.3rem;
    text-align: center;
}

